.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .text-center.m-t-lg
        %h1
          Добро пожаловать на главную страницу Y.CMS!
        %small
          CMS для ваших проектов, написанных на Ruby on Rails. Наслаждайтесь!
    
