%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold David Williams
              %span.text-muted.text-xs.block
                Art Director
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              %a{:href => "#"} Logout
        .logo-element
          IN+
      =nav_link admin_path do
        %i.fa.fa-area-chart
        %span.nav-label Дашборд
      =nav_link "" do
        %i.fa.fa-newspaper-o
        %span.nav-label Новости
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          %li.active
            =link_to 'Все новости', admin_posts_path
          %li
            =link_to 'Создать новую', new_admin_post_path
          %li
            =link_to 'Категории новостей', admin_post_categories_path
      =nav_link "" do
        %i.fa.fa-file-text
        %span.nav-label Страницы
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          %li.active
            =link_to 'Все страницы', admin_pages_path
          %li
            =link_to 'Создать новую', new_admin_page_path
          %li
            =link_to 'Категории страниц', admin_page_categories_path
      =nav_link "" do
        %i.fa.fa-users
        %span.nav-label Пользователи
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          %li.active
            =link_to 'Все пользователи', admin_users_path
          %li
            =link_to 'Создать нового', new_admin_user_path

      =nav_link admin_settings_path do
        %i.fa.fa-cog
        %span.nav-label Настройки
        %span.fa.arrow
        %ul.nav.nav-second-level.collapse
          %li.active
            =nav_link admin_settings_general_settings_path do
              Общие