#right-sidebar.animated
  .sidebar-container
    %ul.nav.nav-tabs.navs-3
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab-1"}
          %i.fa.fa-gear
    .tab-content
      #tab-1.tab-pane.active
        .sidebar-title
          %h3
            %i.fa.fa-gears
            =t('admin.navigation.right_sidebar.language.title')
          %small
            %i.fa.fa-tim
            =t('admin.navigation.right_sidebar.language.description')
        .setings-item
          %span
            =t('admin.navigation.right_sidebar.language.english')
          .switch
            =link_to admin_localize_path(locale: :en, path: request.url) do
              =image_tag 'flags/64/United-States.png', width: 16
        .setings-item
          %span
            =t('admin.navigation.right_sidebar.language.russian')
          .switch
            =link_to admin_localize_path(locale: :ru, path: request.url) do
              =image_tag 'flags/64/Russia.png', width: 16
        
        .sidebar-content
          %h4 Settings
          .small
            I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
