-if object.errors.any?
  .panel.panel-warning
    .panel-heading
      %i.fa.fa-warning
      Warning - Errors
    .panel-body
      %ul
        -object.errors.each do |attribute, message| 
          %li
            ="#{object.class.human_attribute_name(attribute)} - #{message}"
.row
  .col-lg-12
    =form_for admin_form_arguments_builder(object, local_assigns[:namespace]), :html => {:class => "form-horizontal"} do |f|
      .tabs-container
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab-1"}
              =t('admin.form.tab_main.title')
          -if object.class.model_name.name.constantize.translates?
            %li
              %a{"data-toggle" => "tab", :href => "#tab-2"}
                =t('admin.form.tab_translation')
        .tab-content
          #tab-1.tab-pane.active
            .panel-body
              =render partial: "admin/shared/form/main_fields", locals: { f: f, object: object, namespace: local_assigns[:namespace] }
          / User.translated_attribute_names
          / => []
          / Post.translated_attribute_names
          / => [:title, :body]
          -if object.class.model_name.name.constantize.translates?
            #tab-2.tab-pane
              .panel-body
                =render partial: "admin/shared/form/translation_fields.html.haml", locals: { f: f, object: object }
    